<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopKarandash.Properties.Settings.Shop_KarandashConnectionString"
            connectionString="Data Source=10.10.14.113\SQLEXPRESS;Initial Catalog=Shop_Karandash;User ID=Vakurova"
            providerName="System.Data.SqlClient" />
        <add name="ShopKarandash.Properties.Settings.Shop_KarandashConnectionString1"
            connectionString="Data Source=DESKTOP-UQKRMV4\SQLEXPRESS;Initial Catalog=Shop_Karandash;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>